/* -------------- Fonts --------------------- */

@font-face {
    font-family: 'quicksand';
    src: url("Quicksand-Regular.otf");
}

@font-face {
    font-family: 'montserrat';
    src: url("Montserrat/Montserrat-VariableFont_wght.ttf");
}

/* -------------- Element CSS ---------------- */

li{
    font-size: 19px;
    font-family: "montserrat";
}

/* -------------- Class CSS ------------------ */

/*Navbar*/
.nav-item{
    font-family:'quicksand';
}

.nb-bg-color{
    background-color: #05465c;      
}

.selected{
    background-color: rgb(139, 203, 233);
    color:rgb(17, 79, 123) !important;
}

/*Home*/
.showcase{
    background-color: rgb(199, 215, 234); 
}

.showCaseHeader{
    color:#043343;
}

h1.display-2{
    font-size: 65px;
    line-height: 58pt;
}

.overview{
    background-color: rgb(221, 233, 243);
}

.overview-font{
    font-size: 19px;
    font-weight: 400;
}

.secHeader{
    font-family: 'montserrat';
    font-weight: 500;
}

.footer{
    background-color: rgb(35, 35, 94);
}

.icon-white{
    color: rgb(161, 159, 159);   /*change color*/
}

.icon-white:hover{
    color:rgb(71, 153, 211);
}


/*Authors*/
.author{
    background-color: rgb(218, 237, 252);
}

.about-author{
    color:rgb(11, 16, 46)
}

.card-img-top{
    /*border: solid rgb(22, 28, 90);*/
    margin-top: 25px;
    border-radius: 5%;
}

.card{
    border: 1px solid rgb(22, 28, 90);
    /*border-radius: 7%;*/
    background-color: #f6f9ff;
}

.card-title{
    padding-top: 10px;
}

.cards{
    padding-bottom: 45px;
}

.card:hover{
    transform: scale(1.1);
}


/*Procedure*/
.procedureTop{
    background-image: url("bluepolygon.png");
    padding-top: 15px;
}

.accordion{
    padding: 75px 150px 75px 150px;
    background-color: rgb(221, 233, 243);
}

.accordion-item{
    border: 2px double rgb(112, 155, 207);
}

.accordion-button{
    font-size: 22px;
}

.accordion-body{
    background-color: rgb(247, 249, 255);
}

.stepList{
    line-height: 50px;
    margin-left: 15px;
    margin-top: 8px;
}

/* Register and Sign Up */
.signUpForm{
    display: flex;
    justify-content: center;
    align-items: center;
}

.signInBox{
    margin-top: 125px;
    margin-bottom: 125px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family:'montserrat';
    background-color: rgba(255,255,255,0.6);
    border-radius: 20px;
    box-shadow: 0px 0 31px 0px rgb(0 0 0 / 10%);
}

.signInPage{
    /* background-color: rgb(210, 222, 238); */
    background-size: 100%;
    background-image: linear-gradient(to right top, #051937, #004770, #007c9e, #00b4b7, #12ebb9);
}

#signIn{
    color: white;
    background-color: rgb(31, 140, 179);
    border-color: rgb(31, 140, 179);
    border-width: 2px;
}

#signIn:hover{
    color: rgb(31, 140, 179);
    background-color: rgb(255, 255, 255);
    border-color: rgb(31, 140, 179);
}

/*Home*/
.homePage{
    /* background-color: rgb(210, 222, 238); */
    background-size: 100%;
    background-image: linear-gradient(to right top, #b1e7fe, #bceafb, #c6ecf9, #d1eff7, #dcf1f6);
}

.dataBox{
    background-color: rgba(255,255,255,0.9);
    border-radius: 20px;
    box-shadow: 0px 0 31px 0px rgb(0 0 0 / 10%);
}

/* -------------- ID CSS ------------------ */

/*Navbar*/
#nBMenuItem{
    font-size: 25px;
    padding-right: 20px;
    padding-left: 20px;
}

#userLink, #signOut{
    font-size: 25px;
    padding-right: 20px;
    padding-left: 20px;
}

#websitelogo{
    background-color: rgb(202, 224, 249);
    border-radius: 10%;
}

#websitelogo:hover{
    background-color: rgb(147, 209, 245);
    border-radius: 10%;
    transform: scale(1.1);
}

/*Showcase*/
#bottomBorderNeeded{
    border-bottom: 1px solid rgb(26, 53, 128);
}

#showCaseSubHead{
    font-weight: 100;
}

#showcaseimg{
    border: 4px solid white;
}

h1#ovPadLeft{
    padding-left: 20px;
}

p#ovPadLeft{
    padding-left: 20px;
}

h1#ovPadRight{
    padding-right: 20px;
}

p#ovPadRight{
    padding-right: 20px;
}


/*Author*/
div#about{
    width: 525px;
    margin:auto;
}


/*Procedure*/
#procedureHeader{
    text-align: center;
    font-size: 55px;
    color: black;
    font-weight: 600;
}

#flowchart{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    margin-top: 20px;
    border: 1px solid rgb(168, 181, 227);
}

/*Home*/
#userLink{
    margin-right: 35px;
}

.hover-underline-animation.selected.homeNBbutton:hover{
    background-color: rgb(167, 214, 235);
}

#welcome, #homeHeader{
    font-family: 'montserrat'
}

/* -------------- Underline Animation CSS ------------------ */
.hover-underline-animation {
    display: inline-block;
    position: relative;
    /*color: #0087ca;*/
  }
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2.5px;
    bottom: 0;
    left: 0;
    background-color: #eae6e6;
    /*transform-origin: bottom right;*/
    transition: transform 0.15s ease-out;
}

.hover-underline-animation.selected:hover{
    color:rgb(9, 51, 80) !important;
}

.hover-underline-animation.selected:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2.5px;
    bottom: 0;
    left: 0;
    background-color: rgb(9, 51, 80);
    /*transform-origin: bottom right;*/
    transition: transform 0.15s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    /*transform-origin: bottom left;*/
}

